

@import url("https://cdn.jsdelivr.net/npm/fontsource-alegreya-sans@3.0.10/400.css");
@import url("https://cdn.jsdelivr.net/npm/fontsource-alegreya-sans@3.0.10/500.css");
@import url("https://cdn.jsdelivr.net/npm/fontsource-alegreya-sans@3.0.10/700.css");

@import url("vollkorn.css");

html {
    font-size: 17px;
}
.bd-sidebar,
.bd-toc nav,
.topbar,
body {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: hsl(0, 0%, 25%);
    /* background-color: #fffaf0; */
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vollkorn", serif;
    font-feature-settings: "lnum", "pnum";
    font-weight: 600;
    color: hsl(0, 0%, 12%);
    margin-block-start: 1rem;
    margin-block-end: 0rem;
}