[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "jb build src"
clean = "jb clean --all src"
toc = "find src -type f -name '*.md' -not -name 'index.md' -exec mdtoc --no-tags {} +"

[packages]
jupyter-book = "*"

[dev-packages]

[requires]
python_version = "3.9"
